*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
header {
    background: url("../images/bg-header.jpg") no-repeat top center;
    background-size: cover;
    height: auto;
    max-height: 850px;

}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
ul.list-items {
    display: flex;
    width: 85%;
    margin: 0 auto;
    height: 200px;
}

ul.list-items li.item {
    width: 40%;
    margin-top: 15px;
}

nav.navs-bar ul{
    display: flex;
}
nav.navs-bar ul li.nav-item {
    width: 25%;
}
nav.navs-bar ul li.nav-item:first-child {
    width: 20%;
}
nav.navs-bar ul li.nav-item:nth-child(2) {
    text-align: left;
    width: 30%;
}
nav.navs-bar ul li.nav-item a.nav-link{
    color: #fff;
    font-size: 20px;
}

ul.list-items li.item:nth-child(2) {
    text-align: center;
    width: 20%;
}

ul.list-items li.item:nth-child(2) a {
    color: #fff;
    font-size: 22px;
}

ul.list-items li.item:last-child {
    text-align: right;
}

ul.list-items li.item:last-child input[class='btn-search']{
    border-radius: 12px;
    padding: 4px 12px;
    border: #c0bdbe solid 1px;
}

div.hello {
    text-align: center;
    margin: auto     0;
    height: 450px;
    /*-webkit-transform: translateY(-50%);*/
}
div.hello h1, a.work-us{
    color: #fff;
    font-size: 3rem;
    display: block;
}

a.work-us {
    margin: 20px auto 0;
    font-size: 2rem;
    background: #54d154;
    border-radius: 18px;
    padding: 3px 12px;
    width: 180px;
}
div.scroll {
    text-align: center;
    height: 100px;
}

div.scroll a.scroll-link{
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    background: #c0bdbe;
    padding: 3px 12px;
}
